header > h1 {
	text-align: center;
	margin-top: 12.5%;
}

input[type="search"] {
	font-size: 2em;
}

input[type="submit"].btn-search {
	font-size: 2em;
	padding: 10px 40px 3px 40px;
	margin-top: 5%;
	margin: 5% 0;
	text-align: center;
}

.search-panel {
	margin-top: 8%;
	text-align: center;
}