{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<!-- Template structure from https://oncampus.oberlin.edu/webteam/2012/09/architecture-django-templates -->
	{% block meta_tags %}{% endblock %}
	<title>
		{% block title %}WANTED | Unofficial list of bounties in One Piece{% endblock %}
	</title>
	{% block css %}
		<link rel="stylesheet" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" />
		<link rel="stylesheet" href="{% static "css/fonts.css" %}" />
		<link rel="stylesheet" href="{% static "css/style.css" %}" />
	{% endblock %}
	{% block javascript %}{% endblock %}
</head>
<body>
	<header>
		{% block header %}<h1>WANTED</h1>{% endblock %}
	</header>

	<main role="main" class="container">
		{% block content %}{% endblock %}
	</main>
</body>
</html>
