{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<!-- Template structure from https://oncampus.oberlin.edu/webteam/2012/09/architecture-django-templates -->
	{% block meta_tags %}
		  <meta name="viewport" content="width=device-width, initial-scale=1">
	{% endblock %}
	<title>
		{% block title %}
			WANTED | Unofficial list of bounties in One Piece
		{% endblock %}
	</title>
	{% block css %}
		<link rel="stylesheet" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" />
		<link rel="stylesheet" href="{% static "css/fonts.css" %}" />
		<link rel="stylesheet" href="{% static "css/style.css" %}" />
	{% endblock %}
	{% block javascript %}{% endblock %}
</head>
<body>
	<main role="main">
		{% block content %}{% endblock %}
	</main>

	{% block javascript_onload %}{% endblock %}
</body>
</html>
