{% extends "base.html" %}

{% load humanize %}
{% load static %}

{% block css %}
	{{ block.super }}
	<link href="{% static "css/default-search.css" %}" />
{% endblock %}

{% block content %}
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container-fluid text-center navbar-form navbar-left">
			{% include "search.html" %}
		</div>
	</nav>

	{% include "header.html" %}

	<div class="row">
		{% for pirate in pirates %}
			<div class="col-md-3 text-center">
				<img src="/static/images/pirates/{{ pirate.filename }}.jpg" class="poster"/>
				<h2 class="wanted-status">
					{% if pirate.wanted_status %}
						{{ pirate.get_wanted_status_display|upper }}
					{% endif %}
				</h2>
				<h3 class="name">
					<a href="/onepiecebounties/{{ pirate.id }}/">{{ pirate.name }}</a>
				</h3>
				<p class="crew">{{ pirate.crew.name|upper }}</p>
				{% if pirate.bounty %}
					<p class="bounty">{{ pirate.bounty|intcomma }}</p>
				{% endif %}
			</div>
			{% if forloop.counter|divisibleby:3 %}
				</div>
				<div class="row">
			{% endif %}
		{% endfor %}
	</div>
{% endblock content %}