{% extends "base.html" %}

{% load humanize %}
{% load staticfiles %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static "css/default-search.css" %}" />
{% endblock %}

{% block content %}
	
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container-fluid text-center navbar-form navbar-left">
			{% include "search.html" %}
		</div>
	</nav>

	<div class="container text-center">
		{% include "header.html" %}

		<div class="row">
			{% for pirate in pirates %}
				<div class="col-md-4 pirate-detail">
					<a href="/onepiecebounties/{{ pirate.id }}/">
						<img src="/static/images/pirates/{{ pirate.filename }}.jpg" class="poster thumbnail" />
						<div class="detail-text">
							<p class="wanted-status grid">
								{% if pirate.wanted_status %}
									{{ pirate.get_wanted_status_display|upper }}
								{% endif %}
							</p>
							<p class="name">
								{{ pirate.name|upper }}
							</p>
							<p class="crew">{{ pirate.crew.name|upper }}</p>
						</div>
					</a>
					{% if forloop.counter|divisibleby:3 %}
						</div>
						<div class="row">
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock content %}