{% load humanize %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>WANTED | Unofficial list of bounties in One Piece</title>
</head>
<body>
	<h1>WANTED</h1>
	<input type="search" placeholder="Search for a pirate" name="pirate-search-field" list="pirate-names"/>
	<input type="button" id="search-button" value="Search"/>
	<datalist id="pirate-names">
	</datalist>
	<h2 class="name">{{ pirate.name }}</h2>
	<p class="bounty">{{ pirate.bounty|intcomma }}</p>
	<p class="crew">{{ pirate.crew.name }}</p>
	<img src="{% static 'images/pirates/monkey-d-luffy.png' %}" /> <!--TODO use pirate.filename() in img src -->
</body>
</html>