{% extends "base.html" %}

{% load humanize %}
{% load static %}

{% block search_css_file %}default-search{% endblock %}

{% block main %}

<div class="poster">
	<img src="/static/images/pirates/{{ pirate.filename }}.png" />
</div>

<h2 class="wanted-status">
	{% if pirate.wanted_status %}
		{{ pirate.get_wanted_status_display }}
	{% endif %}
</h2>

<h3 class="name">{{ pirate.name }}</h3>

<p class="crew">{{ pirate.crew.name }}</p>

{% if pirate.bounty %}
	<p class="bounty">{{ pirate.bounty|intcomma }}</p>
{% endif %}


{% endblock %}